{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        "react-intl",
        ["styled-components", { "ssr": true, "displayName": true }]
      ]
    },
    "production": {
      "plugins": [["styled-components", { "ssr": true, "displayName": true }]]
    }
  }
}
